* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2em;
}

.main {
    background-color: bisque;
}

.head {
    background-color: rgb(123, 156, 156);
    display: flex;
    padding: 1em;
    
}

.logo {
    width: 20%;
    text-align: center;
    margin: 0.5em;

}

.head_inputs {
    padding: 1em;
    margin: 0.5em;
}

.img_logo {
    width: 100%;
    min-width: 150px;
    border-radius:30px;
    min-height: 150px;
}

#inp1, #inp2 {
    font-size: 1em;
    width: 20%;
    padding: 0.3em;
    margin-left: 2em;
}

#inp2 {
    width: 60%;
}

#inp_btn {
    font-size: 0.8em;
    padding: 0.5em;
    width: 5%;
    margin-left: 2vw;
}

h1 {
    text-align: center;
    margin: 1vh;
}

.center {
    display: flex;
    
}

.left {
    width: 40%;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.col1, .col2 {
    background-color: rgb(37, 68, 6);
    width: 42%;
    margin: 1em;
    min-height: 50vh;
}

.col3 {
    background-color: chocolate;
    width: 100%;
    margin: 0.3em;
    min-height: 20vh;
}

.cards {
    width: 60%;
    background-color: blueviolet;
}
